<section class="card">
  <a href="/blog/{{id}}">
    <div class="card-body blog-list">
    <h2>{{title}}</h2>
    
    </br>
    <p>{{content}}</p>
    </br>

    <p>By: {{user.name}}</p>

    </div>
  </a>
</section>