<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog-Space</title>
  <link rel="stylesheet" href="/css/stylesheet.css">
</head>

<body>
  <header class="display-flex justify-space-between align-center p-2">
    <nav>
    <a href="/">
    <h1 class='title'>
        Bloggity
    </h1>
    </a>
    </nav>
    {{#if logged_in}}
    <nav>
      <button class="btn" id="logout">logout</button>
    </nav>
    <nav>
      <a href ='/profile'><button class='btn' id='profile'>Profile</button></a>
    </nav>
    {{else}}
    <a href="/login">login</a>
    {{/if}} 

  </header>
  <main class="container container-fluid mt-5">
    {{{ body }}}
  </main>
  <footer>
      
  </footer>

  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>